<mat-card>
 <img 
  src="https://gamerwall.pro/uploads/posts/2022-03/1648705929_49-gamerwall-pro-p-biznesmen-fon-krasivie-56.jpg"
      mat-card-avatar 
          style="
          width: 200px; 
        height: 200px; 
      margin-top: 10px; 
      margin-left: 20px;
    ">
  <mat-card-header>
      <mat-card-title>
          <h1>Илья Шабрат</h1>
      </mat-card-title>
      <mat-card-subtitle>
         <h3 style="line-height: 55px;">
            Студент
            </h3>
      </mat-card-subtitle>
      <mat-card-subtitle >
        <h3 style="line-height: 55px;">
          Возрост: 25
           </h3>
     </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h2>Опыт работы:</h2>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae expedita, quae accusantium inventore nostrum, aperiam, voluptatum repellat ut necessitatibus tempora sapiente sit molestias ipsam sed amet quo saepe laudantium quis.
      </p>
  </mat-card-content>

  <mat-card-content >
    <h2>Знания в программированиe:</h2>
    <p>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Angular в процессе изучния</li>
    <li>React в процессе изучния</li></p>
  </mat-card-content>
 
</mat-card>